.pageContent {
    min-height: calc(100vh - 200px); /* Adjust based on your header/footer height */
}

.footer {
    background-color: #F4F7E2; /* Hellgrün */
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #0F3341;
}

.footerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.footerText {
    font-size: 1rem;
    margin: 0;
}

.footerButton {
    font-size: 1rem;
    color: #fff;
    background-color: #0F3341;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Space between the title and the button */
}

.footerButton:hover {
    background-color: #0C2935;
}

.marginBottom {
    height: 50px; /* Adjust based on the desired space */
}

